<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".dll" />
			<remove fileExtension=".json" />
			<remove fileExtension=".wasm" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".dat" />
			<remove fileExtension=".blat" />
			<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".woff" mimeType="font/woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
			<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
		</staticContent>

		<!-- Headers requeridos para SharedArrayBuffer/FFmpeg -->
		<httpProtocol>
			<customHeaders>
				<add name="Cross-Origin-Embedder-Policy" value="require-corp" />
				<add name="Cross-Origin-Opener-Policy" value="same-origin" />
			</customHeaders>
		</httpProtocol>

		<rewrite>
			<rules>
				<rule name="SPA fallback routing" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>

		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/wasm" enabled="false" />
				<add mimeType="application/octet-stream" enabled="false" />
			</dynamicTypes>
		</httpCompression>
	</system.webServer>
</configuration>